
<div class="counter"> 
  <p>{{"Comp №" + compNumber}}</p>
  <div class="counter__elem" (click)="increm( count )">+</div>
  <div class="counter__elem counter__number">{{ count }}</div>
  <div class="counter__elem" (click)="decrem( count )">-</div>
</div>

